.app {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  border: 2px solid black;
  justify-content: center;
  align-items: stretch;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 200px;
  border: 1px solid black;
  padding: 5px;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2px 0px;
}

.button-row button {
  padding: 10px;
  width: 120px;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 200px;
  border: 1px solid black;
  justify-content: space-between;
  padding: 5px;
}

textarea {
  height: 150px;
}
