.app {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 120px;
  border: 1px solid black;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.button-row button {
  padding: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 120px;
  border: 1px solid black;
}

textarea {
  height: 150px;
}
